.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.author-info {
    flex: 1;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    border-radius: 8px;
}

.portrait {
    flex: 1;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    margin-top: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-top: 10px;
}

.authors-link {
    display: flex;
    align-items: center;
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 20px;
}

.authors-link-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.authors-link:hover {
    color: #007BFF;
}